* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} 


.whats img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

:root {
    --royal-orange-light: #F6800B;
    --royal-orange-dark: #f36107;
    --white:#fff;
    --backgroud: #F6800B;
}


.logo {
    width:  4.375em ;
    height: 4.375em;
    border: solid 1px black;
    border-radius: 50%;
    margin-left: 80px;
}

header {
    width: 100%;
    position: fixed;
    background: var(--backgroud);
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    z-index: 1000;
}

header  ul {
    display: flex;
    margin-right: 80px;
}

li {
    list-style: none;
}

a {
    color: #fff;
}


.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 34px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    letter-spacing: 3px;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover {
    background: var(--royal-orange-dark);
    padding: 3px;
    border-radius: 6%;
}
 
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


.main {
    background-image: url(./assets/bg-cafe.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 270px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 130px 20px 70px;
    margin: 0;
    border: none;
}

.patissier {

    background-color: #ffff;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 20px;
    margin-top: 90px;
    padding-top: 10px;
    height: 300px;
    width: 500px;
    border: 1px solid #F6800B;
    border-radius: 6px;
}
.patissier h1 {
    font-family: 'Parisienne', cursive;
    font-weight: 900;
    font-size: 2em;
    color: black;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    padding-top: 10px;
}

.patissier p {
    font-family: 'roboto', cursive;
    font-weight: 800;
    line-height: 2;
    color: black;
    font-display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

#container {
    background: url("./assets/fundo-madeira-pao.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 270px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow-x: hidden;
}

.card-pao-frances {
    background-image: url(./assets/pao-frances.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    border-radius: 6px;
    border: 1px solid #696969;

}

.card-pao-diverso {
    background-image: url(./assets/paes-diversos.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    border-radius: 6px;
    border: 1px solid #696969;
}

.card-bolo {
    background-image: url(./assets/bolos.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    border-radius: 6px;
    border: 1px solid #696969;
}

.card-doce-gelado {
    background-image: url(./assets/doces-gelados.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    border-radius: 6px;
    border: 1px solid #696969;
}


#container p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #696969;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    font-weight: 900;
    background: #D2691E;
    width: 160px;
    height: 40px;
    margin-top: 350px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30;
}


.cardapio {
    background-color: #8B4513;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 1rem;
    
}

#prev-button  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 3%;
    font-size: 2em;
    margin-right: 10px;
    border: 1px solid #696969;
    background: #FFFF;
    cursor: pointer;
    color: #FF8C00;
    

    
}

#next-button  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 3%;
    font-size: 2em;
    margin-left: 10px;
    border: 1px solid   #696969;
    background: #FFFF;
    cursor: pointer;
    color: #FF8C00;
}
.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 800px;
}

.slider {
    position: absolute;
    width: 90%;
    height: 80vh;
    border-radius: 6px;
    border: 1px  solid #696969;
    opacity: 0;
    transition: opacity .2s;
}

.on {
    opacity: 1;
}

.bg-form {
    background-color: #FFA500;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 270px;
}
.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: rgb(168, 157, 157);
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    padding: 20px;

}

input, textarea, button{
    display:flex;
    margin: 0 auto;
    width: 60%;
    border-radius: 6px;
    border: 1px solid #696969;
    margin-top: 20px ;
    height: 40px;
    padding-left: 40px;
    
}

textarea {
    height: 200px;
    padding-top: 10px;
}

.form button {
    background-color: #F6800B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    
    
}

.form button:hover {
    opacity: 0.8;
}

.form button:active {
    opacity: 0.6;
}

.form-h2 {
    text-align: center;
    font-weight: 900;
}

.form-obg {
    width: 40%;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #fff1ff;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    padding: 20px;
}

.form-obg h1, p {
    margin: 10px;
}

.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 270px;
    background: #FF8C00;

}

iframe {
    width: 60%;
    border-radius: 6px;
    border: 4px solid #696969;
    margin-bottom: 40px;
}
hr{
    width: 100%;
}
    

.iframe-h2 {
    text-align: center;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'roboto', sans-serif ;
}

#footer {
    width: 100%;
    min-width: 270px;
    background: gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#footer h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: 'roboto', sans-serif;
    letter-spacing: 1.5px;
}

.insta {
    color: #DC143C;
    font-size: 2em;
}

.face {
    color: #000080;
    font-size: 2em;
}

.whats {
    color: #00FF00;
    font-size: 2em;
}

ion-icon {
    margin: 20px;
    margin-bottom: 20px;
    transition: background 0.2s;
    border-radius: 50%;
    padding: 10px;
    
}


ion-icon:hover {
    background: #C0C0C0;
  
}
  .info1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    transition:  background 0.2s;
    border-radius: none;
    border-top: none;
    margin-bottom: 10px;

  }

  .info2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    transition:  background 0.2s;
    border-radius: none;
    border-top: 1px solid  black;
    margin-bottom: 10px;

  }

   .fa-facebook {
    color: #000080;
    font-size: 1.2em;
  }

   .fa-instagram {
    color: #DC143C;
    font-size: 1.2em;
  }

  

  
@media screen and (max-width: 768px) and (min-width: 280px){

    header {
    
    }
    
    .logo {
        margin-top: 5px;
        margin-left: -10px;

        margin-bottom: 5px;
        
    }
    .hamburger {
        display: block;
        margin-right: -10px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;

    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 116px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--backgroud);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px;
        padding-right: 18px;
    }

    .nav-menu.active {
        left: 0;
        max-width: 100%;
    }

    .main {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 80%; 
    }

    .patissier {
        min-width: 260px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }

    .patissier h1 {
     font-size: 1.5em;
     padding-bottom: 0;
     margin-top: 20px;
    }

    .patissier p {
        font-size: 0.9em;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;

    }
    

    #container {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        margin-right: auto;
    }

    #container div {
        background-size: cover;
        background-position: center;
        width: 100%;
        margin-bottom: 16px;
        margin-top: 20px;

    }
    
   .cardapio {
        width: 100%;
        height: 100%;

   }

   #prev-button, #next-button {
    margin: 8px;
    padding: 10px;
    width: 5%
    
   }

   .container-images {
    width: 90%;
    margin: 5px;
   }

   .slider {
    width: 100%;
    height: 70vh;
    margin: 30px;
    

   }
    
   .bg-form {
        width: 100%;
        height: 100%;
    
    
   }

   .form {
        width: 90%;
    
   }

   input, textarea, button {
    width: 100%
   }

   .iframe {
    width: 100%;
 
   }

   .iframe iframe {
    width: 90%;
   }

   hr {
    width: 100%; 
   }

   #footer {
    width: 100%;

   }

   .whats img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
   }
}





